Package: com.pavilionteam.pavdark
Name: PavDark
Version: 3.0
Architecture: iphoneos-arm
Description: A Dark IOS 11-11.3.1 theme for Iphone/Ipad running Anemone.
Homepage: https://pavilionteam.weebly.com/
Maintainer: Coleski123
Author: Coleski123
Sponsor: https://pavilionteam.weebly.com/
Section: Themes
