Package: com.coleski123.pulasan
Name: Pulasan
Version: 1.0
Architecture: iphoneos-arm
Description: Theme for anemone.
Homepage: https://pavilionteam.weebly.com
Maintainer: Coleski123
Author: Coleski123
Sponsor: NA
Section: Themes
